In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('aksharantar_sampled/hin/hin_train.csv')

In [4]:
df['शस्त्रागार'].to_numpy()[0]

'बिन्द्या'

In [5]:
def hindi_tokenizer(hindi_word):
    return list(hindi_word)

In [6]:
hindi_tokenizer('शस्त्रागार')

['श', 'स', '्', 'त', '्', 'र', 'ा', 'ग', 'ा', 'र']

In [7]:
def hindi_alphabet_vocab(df):
    hindi_vocab=[]
    for word in df['शस्त्रागार']:
        for alphabet in hindi_tokenizer(word):
            if alphabet in hindi_vocab:
                pass
            else:
                hindi_vocab.append(alphabet)
    # end of words, now do for word   'शस्त्रागार'
    word ='शस्त्रागार'
    for alphabet in hindi_tokenizer(word):
        if alphabet in hindi_vocab:
            pass
        else:
            hindi_vocab.append(alphabet)
            
    hindi_vocab.append('<')
    hindi_vocab.append('>')
    hindi_vocab.append('.')
    return hindi_vocab

In [8]:
hindi_vocab=hindi_alphabet_vocab(df)

In [9]:
df

       shastragaar शस्त्रागार
0          bindhya   बिन्द्या
1        kirankant   किरणकांत
2      yagyopaveet  यज्ञोपवीत
3          ratania    रटानिया
4       vaganyache  वागण्याचे
...            ...        ...
51194        toned       टोंड
51195   mutanaazaa   मुतनाज़ा
51196    asahmaton    असहमतों
51197    sulgaayin   सुलगायीं
51198  anchuthengu  अंचुतेंगु

[51199 rows x 2 columns]

In [10]:
def english_tokenizer(english_word):
    return list(english_word)

In [11]:
def english_alphabet_vocab(df):
    english_vocab=[]
    for word in df['shastragaar']:
        for alphabet in english_tokenizer(word):
            if alphabet in english_vocab:
                pass
            else:
                english_vocab.append(alphabet)
    # end of words, now do for word   'शस्त्रागार'
    word ='shastragaar'
    for alphabet in english_tokenizer(word):
        if alphabet in english_vocab:
            pass
        else:
            english_vocab.append(alphabet)
            
    english_vocab.append('<')
    english_vocab.append('>')
    english_vocab.append('.')
    return english_vocab

In [12]:
english_vocab=english_alphabet_vocab(df)

In [13]:
print('Length of Hindi Vocab:-', len(hindi_vocab))
print('Length of English Vocab:-', len(english_vocab))

Length of Hindi Vocab:- 67
Length of English Vocab:- 29

In [14]:
max_len=0

for i,j in zip(df['shastragaar'],df['शस्त्रागार']):
    max_len=max(max_len,max(len(english_tokenizer(i)), len(hindi_tokenizer(j))))

In [15]:
max_len

24

# let us set max length to 30 _> for safety

In [16]:
new_df = pd.concat([df,df],ignore_index=True)

In [17]:
new_df

        shastragaar शस्त्रागार
0           bindhya   बिन्द्या
1         kirankant   किरणकांत
2       yagyopaveet  यज्ञोपवीत
3           ratania    रटानिया
4        vaganyache  वागण्याचे
...             ...        ...
102393        toned       टोंड
102394   mutanaazaa   मुतनाज़ा
102395    asahmaton    असहमतों
102396    sulgaayin   सुलगायीं
102397  anchuthengu  अंचुतेंगु

[102398 rows x 2 columns]

In [112]:
def encode(do_onehot=True):
    'returns encoder function'
    def one_hot_encode_alphabet(alphabet,alphabet_to_index):
    
        # Initialize a zero vector of length equal to the number of alphabets plus one for unseen alphabets
        one_hot_vector = [0] * (len(alphabet_to_index) + 1)
        # Set the indices of the alphabets present in the sentence to 1

        if alphabet.lower() in alphabet_to_index:
            one_hot_vector[alphabet_to_index[alphabet.lower()]] = 1
        else:
            # Set the last index to 1 to represent any unseen alphabets
            one_hot_vector[-1] = 1
        return one_hot_vector
    def simple(alphabet,alphabet_to_index):
        try:
            return alphabet_to_index[alphabet.lower()]
        except:
            return len(alphabet_to_index)
    
    
    if do_onehot:
        return one_hot_encode_alphabet
    else:
        return simple

In [90]:
encode(False)('a',{'a':1})

1

In [98]:
def encode_word(word,alphabet_to_index,encoder=encode()):
    max_len=30
    word='<'+word+'>'
    
    while len(word)<30:
        word+='.'
    
    
    
    word_encode=[]
    for letter in word:
        word_encode.append(encoder(letter,alphabet_to_index))
    
    return word_encode

In [113]:
english_alphabet_to_index = {alphabet: index for index, alphabet in enumerate(english_vocab)}
encode_word('b'*25,english_alphabet_to_index,encoder=encode(False))

[26,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 27,
 28,
 28,
 28]

In [96]:
english_alphabet_to_index

{'b': 0,
 'i': 1,
 'n': 2,
 'd': 3,
 'h': 4,
 'y': 5,
 'a': 6,
 'k': 7,
 'r': 8,
 't': 9,
 'g': 10,
 'o': 11,
 'p': 12,
 'v': 13,
 'e': 14,
 'c': 15,
 's': 16,
 'm': 17,
 'u': 18,
 'w': 19,
 'l': 20,
 'j': 21,
 'x': 22,
 'f': 23,
 'z': 24,
 'q': 25,
 '<': 26,
 '>': 27,
 '.': 28}

In [38]:
iterA=0
for i,a in zip(df['shastragaar'],df['शस्त्रागार']):
    print(i,a)
    iterA+=1
    if iterA>10:
        break

bindhya बिन्द्या
kirankant किरणकांत
yagyopaveet यज्ञोपवीत
ratania रटानिया
vaganyache वागण्याचे
deshbharamadhye देशभरामध्ये
sughadpan सुघड़पन
mohiwal मोहीवाल
sarvasangrah सर्वसंग्रह
baseko बसेको
tumchyapaiki तुमच्यापैकी

In [114]:
encode_word('<eng_eos>',english_alphabet_to_index,encoder=encode(False))

[26,
 26,
 14,
 2,
 10,
 29,
 14,
 11,
 16,
 27,
 27,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28]

In [122]:
import numpy as np

In [117]:
max_len=30
def dataset_generator(df_train,df_val=None,df_test=None,do_onehot=True):
    # we generate the vocabulary from train and validation only!
    new_df = pd.concat([df_train,df_val],ignore_index=True)
    hindi_vocab=hindi_alphabet_vocab(new_df)
    english_vocab=english_alphabet_vocab(new_df)
    

    
    '''
    vocab generated. Now we one hot them?
    yes-> because one hot encoding will ensure that distances don't have meaning 1,2 for a,b
    and 26 for z would imply b is closer to a
    '''
    
    # Create a dictionary to map alphabets to their index
    
    hindi_alphabet_to_index = {alphabet: index for index, alphabet in enumerate(hindi_vocab)}
    index_to_hindi_alphabet = {index:alphabet  for index, alphabet in enumerate(hindi_vocab)}
    
    english_alphabet_to_index = {alphabet: index for index, alphabet in enumerate(english_vocab)}
    index_to_english_alphabet = {index:alphabet  for index, alphabet in enumerate(english_vocab)}
    
    #training_data
    training_input=[]
    training_output=[]
    
    #validation
    valid_input=[]
    valid_output=[]
    
    #test
    test_input=[]
    test_output=[]
    
    for eng_word,hindi_word in zip(df_train['shastragaar'],df_train['शस्त्रागार']):
        training_input.append(encode_word(eng_word,english_alphabet_to_index,encoder=encode(do_onehot)))
        training_output.append(encode_word(hindi_word,hindi_alphabet_to_index,encoder=encode(do_onehot)))

        
    if df_val:
        for eng_word,hindi_word in zip(df_val['shastragaar'],df_val['शस्त्रागार']):
            valid_input.append(encode_word(eng_word,english_alphabet_to_index,encoder=encode(do_onehot)))
            valid_output.append(encode_word(hindi_word,hindi_alphabet_to_index,encoder=encode(do_onehot)))

        
    if df_test:
        for eng_word,hindi_word in zip(df_test['shastragaar'],df_test['शस्त्रागार']):
            test_input.append(encode_word(eng_word,english_alphabet_to_index,encoder=encode(do_onehot)))
            test_output.append(encode_word(hindi_word,hindi_alphabet_to_index,encoder=encode(do_onehot)))

    
    if do_onehot:
        np.save('one_hot_data/X_train.npy',training_input)
        np.save('one_hot_data/y_train.npy',training_output)
        np.save('one_hot_data/X_val.npy',valid_input)
        np.save('one_hot_data/y_val.npy',valid_output)
        np.save('one_hot_data/X_test.npy',test_input)
        np.save('one_hot_data/y_test.npy',test_output)
    else:
        np.save('simple_data/X_train.npy',training_input)
        np.save('simple_data/y_train.npy',training_output)
        np.save('simple_data/X_val.npy',valid_input)
        np.save('simple_data/y_val.npy',valid_output)
        np.save('simple_data/X_test.npy',test_input)
        np.save('simple_data/y_test.npy',test_output)        
    
    return

In [118]:
a,b=dataset_generator(df)

In [124]:
np.save('a.npy',a)

In [130]:
np.load('a.npy')[0].shape

(30, 30)

In [120]:
len(a)

51199

In [121]:
len(df)

51199

In [39]:
# def hindi_one_hot(vocab):
#

In [40]:
df['shastragaar'].iloc[0]

'bindhya'

In [ ]:



data = ['the cat sat on the mat', 'the dog sat on the rug', 'the quick brown fox jumps over the lazy dog']
encoded_data = one_hot_encode_alphabets(data)
print(encoded_data)
```

This will output:
```
[[0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 1, 1, 0,
```

Is this what you were looking for?